
@{
    ViewBag.Title = "Группа";
}
<br/>
<div class="container">
    <div class="row">
        <div class="col-sm">
            <h4>Руководитель: </h4>
            
                <div>
                    <img src="@Url.Content("~/Images/FrJxEBJkX_U.jpg")" width="40" height="40" class="img-circle" alt="Cinque Terre" />

                    <div style="width:120px">Петров Алексей Михайлович</div>
                    <p>профессор ДГТУ</p>
                </div>
            
        </div>
        <div class="col-sm">
            <br />
            <br />
            <h4>Участники: </h4>


            <div>
                <img src="@Url.Content("~/Images/cat1.jpg")" width="40" height="40" class="img-circle" alt="Cinque Terre" />

                <div style="width:120px">Андреев Сергей Васильевич</div>
                <p>студент 3 курса</p>
            </div>


            <div>
                <img src="@Url.Content("~/Images/cat2.jpg")" width="40" height="40" class="img-circle" alt="Cinque Terre" />

                <div style="width:120px">Мамонов Игорь Николаевич</div>
                <p>студент 4 курса</p>
            </div>

        </div>
        
    </div>
</div>



