
@{
    ViewBag.Title = "Список заданий";
}

<br/>

<div class="row">
    <div class="col-sm-6">
        <div class="card" style="width:500px;">
            <img src="@Url.Content("~/Images/" + ViewBag.UrlImage)" width="500" height="270" />
            <div style="position: absolute; top:0px; left: 215px; width: 300px; height: 64px; background: rgba(19, 51, 76, 0.9); ">
                <div style="color: white; font-size: 25px;position:relative; top:15px; left: 40px">Осталось 15 дней</div>
            </div>
            <div class="card-body" style="background: #F6F6E9; padding-left: 10px; padding-right: 10px; padding-bottom: 10px; padding-top: 1px">
                <h3 class="card-title">Разработка интеллектуальной системы орашения полей</h3> 
                <p class="card-text">Сельское хозяйство</p>
                <h4 class="card-text">Премия: 100 000 &#8381;</h4>
                @Html.ActionLink("К заданию", "Problem", "Problems", new { @class = "btn btn-primary btn-lg" })
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card" style="width:500px">
            <img src="@Url.Content("~/Images/Bearing_02.JPG")" width="500" height="270" />
            <div style="position: absolute; top:0px; left: 215px; width: 300px; height: 64px; background: rgba(19, 51, 76, 0.9); ">
                <div style="color: white; font-size: 25px;position:relative; top:15px; left: 40px">Осталось 25 дней</div>
            </div>
            <div class="card-body" style="background: #F6F6E9; padding-left: 10px; padding-right: 10px; padding-bottom: 10px; padding-top: 1px">
                <h3 class="card-title">Разработать подшипник фрезерного станка с коэф. трения ниже 4</h3>
                <h4 class="card-text">Премия: 50 000 &#8381;</h4>
                <h5 class="card-text">Машиностроение</h5>
                @Html.ActionLink("К заданию", "Problem", "Problems", new { @class = "btn btn-primary btn-lg" })
            </div>
        </div>
    </div>
</div>


