
@{
    ViewBag.Title = "Учебное заведение";
}
</br>
<h4>Сотрудники: </h4>
<div class="container">
    <div class="row">
        <div class="col-md-2">
            <div>
                <img src="@Url.Content("~/Images/FrJxEBJkX_U.jpg")" width="40" height="40" class="img-circle" alt="Cinque Terre" />

                <div style="width:120px">Петров Алексей Михайлович</div>
                <p>профессор ДГТУ</p>
            </div>
        </div>
        <div class="col-md-2">
            <div>
                <img src="@Url.Content("~/Images/TYwEqeIjaVU.jpg")" width="40" height="40" class="img-circle" alt="Cinque Terre" />

                <div style="width:120px">
                    Ивано Иван Иванович
                </div>
                <p>профессор ДГТУ</p>
            </div>
        </div>
        <div class="col-md-2">
            <div>
                <img src="@Url.Content("~/Images/wS_eY9uCtQo.jpg")" width="40" height="40" class="img-circle" alt="Cinque Terre" />

                <div style="width:120px">
                    Сидоров Василий Викторович
                </div>
                <p>профессор ДГТУ</p>
            </div>
        </div>
    </div>
</div>

